<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>age</key>
			<string>23</string>
			<key>birthday</key>
			<string>1993-6-9</string>
			<key>height</key>
			<string>172</string>
			<key>isHaveHome</key>
			<string>有</string>
			<key>name</key>
			<string>李梦</string>
			<key>photo</key>
			<string>lm.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>age</key>
			<string>23</string>
			<key>birthday</key>
			<string>1993-6-12</string>
			<key>height</key>
			<string>177</string>
			<key>isHaveHome</key>
			<string>有</string>
			<key>name</key>
			<string>刘梦琪</string>
			<key>photo</key>
			<string>lmq.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>age</key>
			<string>25</string>
			<key>birthday</key>
			<string>1993-6-9</string>
			<key>height</key>
			<string>172</string>
			<key>isHaveHome</key>
			<string>有</string>
			<key>name</key>
			<string>赵函</string>
			<key>photo</key>
			<string>zh.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>age</key>
			<string>23</string>
			<key>birthday</key>
			<string>1993-6-9</string>
			<key>height</key>
			<string>172</string>
			<key>isHaveHome</key>
			<string>有</string>
			<key>name</key>
			<string>李梦</string>
			<key>photo</key>
			<string>wyq.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>age</key>
			<string>23</string>
			<key>birthday</key>
			<string>1993-6-9</string>
			<key>height</key>
			<string>172</string>
			<key>isHaveHome</key>
			<string>有</string>
			<key>name</key>
			<string>李梦</string>
			<key>photo</key>
			<string>xmt.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>age</key>
			<string>23</string>
			<key>birthday</key>
			<string>1993-6-9</string>
			<key>height</key>
			<string>172</string>
			<key>isHaveHome</key>
			<string>有</string>
			<key>name</key>
			<string>李梦</string>
			<key>photo</key>
			<string>cxs.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>age</key>
			<string>23</string>
			<key>birthday</key>
			<string>1993-6-9</string>
			<key>height</key>
			<string>172</string>
			<key>isHaveHome</key>
			<string>有</string>
			<key>name</key>
			<string>李梦</string>
			<key>photo</key>
			<string>lhy.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>age</key>
			<string>23</string>
			<key>birthday</key>
			<string>1993-6-9</string>
			<key>height</key>
			<string>172</string>
			<key>isHaveHome</key>
			<string>有</string>
			<key>name</key>
			<string>李梦</string>
			<key>photo</key>
			<string>wyr.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>age</key>
			<string>23</string>
			<key>birthday</key>
			<string>1993-6-9</string>
			<key>height</key>
			<string>172</string>
			<key>isHaveHome</key>
			<string>有</string>
			<key>name</key>
			<string>李梦</string>
			<key>photo</key>
			<string>zxy.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>age</key>
			<string>23</string>
			<key>birthday</key>
			<string>1993-6-9</string>
			<key>height</key>
			<string>172</string>
			<key>isHaveHome</key>
			<string>有</string>
			<key>name</key>
			<string>李梦</string>
			<key>photo</key>
			<string>hrx.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
	</array>
</array>
</plist>
