<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<array>
		<string>李梦</string>
		<string>刘梦琪</string>
		<string>赵函</string>
		<string>王语晴</string>
		<string>许梦婷</string>
		<string>陈向姗</string>
		<string>李寒云</string>
		<string>吴以蕊</string>
		<string>张小艺</string>
		<string>黄如轩</string>
	</array>
	<key>photo</key>
	<array>
		<string>lm.jpg</string>
		<string>lmq.jpg</string>
		<string>zh.jpg</string>
		<string>wyq.jpg</string>
		<string>xmt.jpg</string>
		<string>cxs.jpg</string>
		<string>lhy.jpg</string>
		<string>wyr.jpg</string>
		<string>zxy.jpg</string>
		<string>hrx.jpg</string>
	</array>
	<key>age</key>
	<array>
		<string>23</string>
		<string>25</string>
		<string>24</string>
		<string>28</string>
		<string>30</string>
		<string>27</string>
		<string>26</string>
		<string>25</string>
		<string>29</string>
		<string>22</string>
	</array>
	<key>birthday</key>
	<array>
		<string>1993-6-9</string>
		<string>1991-12-23</string>
		<string>1992-7-2</string>
		<string>1988-5-2</string>
		<string>1986-2-9</string>
		<string>1989-4-2</string>
		<string>1990-11-3</string>
		<string>1991-2-12</string>
		<string>1987-5-1</string>
		<string>1994-9-10</string>
	</array>
	<key>sex</key>
	<array>
		<string>女</string>
		<string>女</string>
		<string>女</string>
		<string>女</string>
		<string>女</string>
		<string>女</string>
		<string>女</string>
		<string>女</string>
		<string>女</string>
		<string>女</string>
	</array>
	<key>isHaveHome</key>
	<array>
		<string>有</string>
		<string>有</string>
		<string>有</string>
		<string>无</string>
		<string>有</string>
		<string>有</string>
		<string>有</string>
		<string>无</string>
		<string>有</string>
		<string>无</string>
	</array>
	<key>height</key>
	<array>
		<string>172cm</string>
		<string>175cm</string>
		<string>177cm</string>
		<string>168cm</string>
		<string>179cm</string>
		<string>182cm</string>
		<string>172cm</string>
		<string>180cm</string>
		<string>167cm</string>
		<string>174cm</string>
	</array>
</dict>
</plist>
